<!DOCTYPE html>
<html>
<head>
    <title>Meu Diário</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Meu Diário Pessoal</h1>
    <a href="{% url 'novo_post' %}">Novo Post</a>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'ver_post' post.id %}">{{ post.titulo }}</a> - {{ post.criado_em|date:"d/m/Y H:i" }}
            </li>
        {% empty %}
            <li>Nenhum post ainda.</li>
        {% endfor %}
    </ul>
</body>
</html>
