<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Curiosidade</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
    <h1>Adicionar Nova Curiosidade</h1>
    <nav>
        <a href="{% url 'lista_curiosidades' %}">Voltar para a lista</a>
    </nav>
</header>

<main>
    <form method="POST">
        {% csrf_token %}
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required><br>
        
        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao" rows="5" required></textarea><br>

        <label for="categoria">Categoria:</label>
        <select name="categoria" id="categoria">
            <option value="">Selecione uma categoria</option>
            <option value="animais">Animais</option>
            <option value="plantas">Plantas</option>
            <option value="paisagens">Paisagens</option>
        </select><br>
        
        <button type="submit">Postar Curiosidade</button>
    </form>
</main>

</body>
</html>
